<!-- <md-bottom-sheet class="md-grid" layout="column" ng-cloak> -->
<!-- <md-list flex layout="row" layout-align="center center"> <md-list-item -->
<!-- 	ng-repeat="keyword in topicKeywords">       <md-button class="md-grid-item-content" ng-click=""> -->
<!-- <div class="md-grid-text">manually entered crap</div> -->
<!-- </md-button> </md-list-item> </md-list> </md-bottom-sheet> -->
<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
{[ $scope.topicKeywords ]}

allalalal
</md-bottom-sheet>