<!DOCTYPE html>
<html lang='eng' ng-app="TechDash">
<head>
<meta charset="UTF-8">
<title>TechoDashboard</title>
</head>
<body>
    <div ng-controller="mainController as vm">
	  <md-toolbar layout="row">
	    <div class="md-toolbar-tools">
	      <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
	        <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
	        </md-icon>
	      </md-button>
	      <h1>Technological Dashboard {[topicId]} </h1>
	      
	    </div>
	  </md-toolbar>
<!-- 	  <div layout="row" flex> -->
<!-- 	    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"> -->
<!-- 	      <md-button class="md-accent">Button 1</md-button> -->
<!-- 	      <md-button class="md-accent">Button 2</md-button> -->
<!-- 	    </md-sidenav> -->
<!-- 	    <div layout="column" flex id="content"> -->
<!-- 	      <md-content layout="column" flex class="md-padding"> -->
<!-- 	        This Starter Application consists of a Toolbar, SideNav (with two buttons), and Content area. -->
<!-- 	        <p>This is the content area! </p> -->
<!-- 	        <p>{{ result }}</p> -->
<!-- 	        {% for n in range(0,result) %}{{ n }} -->
<!-- 	         {% endfor %} -->
<!-- 	      </md-content> -->
<!-- 	    </div> -->
<!-- 	  </div> -->
<!--     </div> -->
    
   <div ng-controller="AppCtrl as appCtrl" ng-cloak  ng-init="{{ result }}" layout='column'>
  	  <md-button flex="50" class="md-primary md-raised" ng-click="myValue = myValue ? false : true" ng-hide="!myValue">Show all topics</md-button>
	   <md-content layout-padding ng-hide="myValue">
	    <md-grid-list
	        md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
	        md-row-height-gt-md="1:1" md-row-height="4:3"
	        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
	      <md-grid-tile
	          ng-repeat="tile in appCtrl.colorTiles"
	          ng-style="{
	            'background': tile.color
	          }"
	          md-colspan-gt-sm="{[tile.colspan]}"
	          md-rowspan-gt-sm="{[tile.rowspan]}">
	          <md-button flex="50" class="md-primary md-raised" ng-click="showTopicDetails(tile.textLabel)">Topic {[tile.textLabel]}</md-button>

	      </md-grid-tile>
	    </md-grid-list>
	  </md-content>
	  
	  <!--  article content -->
  	<md-subheader class="md-no-sticky" ng-hide="!myValue">Topic keywords: {[keywords]}</md-subheader>
	 <md-content layout-padding ng-hide="!myValue" ng-repeat="(key, value) in categroyArticles">
	 		<md-button ng-click="toggleVisibility(key)">{[ value.title ]}</md-button>
			<md-content ng-show="visibleID == key" ng-hide="visibleID != key ]}">
				<p>{[ value.content ]}</p>
				<p><a href="">Original Link</a></p>
				<p>		<canvas id="line" class="chart chart-line" chart-data="data"
	  chart-labels="labels" chart-legend="true" chart-series="series"
	  chart-click="onClick" >
	</canvas> </p>
			</md-content>	
	</md-content>
  </div>
  

  
    
	<!-- ANGULAR MATERIAL DEPENDENCIES -->
    <script src="{{ url_for('static', filename='angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-aria/angular-aria.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-animate/angular-animate.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-material/angular-material.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-route/angular-route.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-messages/angular-messages.js') }}"></script>
    
	<!--     ANGULAR CHART JS -->
    <script src="{{ url_for('static', filename='Chart.js/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-chart.js/dist/angular-chart.js') }}"></script>
    
	<!--     GOOGLE CHART JS -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
	<!--     angular-google-chart -->
    <script src="{{ url_for('static', filename='angular-google-chart/ng-google-chart.js') }}"></script>
    
    <!-- CSS DEPENDENCIES  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='angular-material/angular-material.min.css') }}">
    
	<!-- 	angular app  -->
   <script src="{{ url_for('static', filename='angularApp.js') }}"></script>
    

</body>
</html>